.DS_Store
6.Web-scrapping/solution/.idea
6.Web-scrapping/solution/venv/bin
6.Web-scrapping/solution/venv
4.Tests/solution/ya_test/venv
4.Tests/solution/ya_test/.env
4.Tests/solution/ya_test/__pycache__
4.Tests/solution/yandex_selenium/venv
4.Tests/solution/task3_yandex_selenium/venv
4.Tests/solution/task2_ya_test/__pycache__
4.Tests/solution/task2_ya_test/__pycache__
4.Tests/solution/task3_yandex_selenium/venv
